

<div class="container surround">
    <h1 class="text-center">Deposit</h1>

    <div *ngIf="successMessage" class="alert alert-success">
        {{successMessage}}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>

    <form (ngSubmit)="onSubmit()" class="form-centered">
        <div class="form-group">
            <label for="depositAmount">Amount</label>
            <input type="text" id="depositAmount" class="form-control" name="depositAmount" placeholder="Enter Amount"
            [(ngModel)]="depositAmount"/>
        </div>

        <br>

        <button type="submit" class="btn btn-success btn-custom">Submit</button>
    </form>
</div>
