


<div class="container surround">
    <h1 class="text-center">Withdraw</h1>

    <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit()" class="form-centered">
        <div class="form-group">
            <label>Current Balance: {{ account.balance }}</label>
        </div>
        <br>
        <div class="form-group">
            <label for="withdrawAmount">Withdraw Amount</label>
            <input type="text" id="withdrawAmount" class="form-control" name="withdrawAmount" placeholder="Enter Amount"
            [(ngModel)]="withdrawAmount" />
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-custom">Submit</button>
    </form>
</div>
